body {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
}

.navigation {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(90deg, #E0EAFC 0%, #CFDEF3 100%);
    position: fixed;
    left: 20px;
    top: 100px;
    bottom: 0;
    border-radius: 10px;
}


.navigation .logo {
    padding: 10px;
    position: fixed;
    left: 65px;
    top: 5px;
}

.logo img {
    width: 80%;
}

.action {
    display: flex;
    align-items: center;
    width: 700px;
    height: 37px;
    position: fixed;
    top: 33px;
    left: 643px;
    justify-content: center;
    margin: 10px;
    background: linear-gradient(90deg, #E0EAFC 0%, #CFDEF3 100%);
    border-radius: 10px;
}

.action p {
    padding: 5%;
    white-space: nowrap;
}

.arquivos li {
    list-style-image: url(/imgs/Folder\ Arquivos.png);
    
}

.indicadores li {
    text-align: left;
    list-style-position: inside;
    margin-top: 5px;
    font-size: 18px;

}

.indicadores h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;

}

.arquivos h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;

}

.arquivos li {
    text-align: left;
    list-style-position: inside;
    margin-top: 5px;
    font-size: 18px;
}

.arquivos {
    margin-top: 400px;
}

.indicadores button {
    padding: 4px 8px;
    cursor: pointer;
    margin: 10px 22px;
    
}

.arquivos button {
    padding: 4px 8px;
    cursor: pointer;
    margin: 10px 22px;
}

.texto-principal {
    width: 442px;
    height: 86px;
    position: absolute;
    bottom: 1px;
    right: 0;
    top: 180px;
    left: 260px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    
}

.texto-principal h3 {
    padding-bottom: 20px;
}

.perfil {
    display: flex;
    align-items: center;
    width: 100px;
    height: 90px;
    top: 15px;
    left: 1785px;
    position: fixed;
    justify-content: center;
    margin: 10px;
    background: linear-gradient(90deg, #E0EAFC 0%, #CFDEF3 100%);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.perfil p {
    font-size: 90%;
    font-weight: 500;
}

.action .img-action {
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    margin-right: 3px;

}

table {
    border-collapse: collapse;
    width: 50%;
    top: 50%;
    left: 25%;
    position: absolute;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
