body {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
}

.navigation {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    max-width: 20%;
    background: linear-gradient(90deg, #E0EAFC 0%, #CFDEF3 100%);
    position: fixed;
    left: 0;
    top: 150px;
    bottom: 0;
    border-radius: 10px;
}

.navigation .logo {
    padding: 10px;
    position: fixed;
    left: 2%;
    top: 10px;
    width: 56px;
    height: 56px;
}

.action {
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    width: 700px;
    height: 37px;
    position: fixed;
    top: 33px;
    left: 643px;
    justify-content: center;
    margin: 10px;
    background: linear-gradient(90deg, #E0EAFC 0%, #CFDEF3 100%);
    border-radius: 10px;
}

.action p {
    padding: 5%;
    white-space: nowrap;
}

.arquivos li {
    list-style-image: url(/pmv-si-2024-1-pe1-t3-si_t3_app_web_1osem2024_gp01/src/imgs/Folder\ Arquivos.png);
}

.indicadores li {
    text-align: left;
    list-style-position: inside;
    margin-top: 5px;
    font-size: 18px;
}

.indicadores h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.arquivos h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.arquivos li {
    text-align: left;
    list-style-position: inside;
    margin-top: 5px;
    font-size: 18px;
}

.arquivos {
    padding-top: 200%;
}

.indicadores button {
    padding: 4px 8px;
    cursor: pointer;
    margin: 10px 22px;
}

.arquivos button {
    padding: 4px 8px;
    cursor: pointer;
    margin: 10px 22px;
}

.texto-principal {
    width: 442px;
    height: 86px;
    position: absolute;
    bottom: 1px;
    right: 0;
    top: 180px;
    left: 220px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.texto-principal h3 {
    padding-bottom: 20px;
}

.perfil {
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    width: 88px;
    height: 68px;
    top: 21px;
    left: 1800px;
    position: fixed;
    justify-content: center;
    margin: 10px;
    background: linear-gradient(90deg, #E0EAFC 0%, #CFDEF3 100%);
    border-radius: 10px;
    text-align: center;
}

.action .img-action {
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    margin-right: 3px;
}

.tabela {
    position: relative;
    width: 1600px;
    border-collapse: collapse;
    top: 210px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

th, td {
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}

.tabela tbody tr:nth-child(even) {
    background-color: #dfdddd;
}

.tabela tbody tr:hover {
    background: linear-gradient(90deg, #E0EAFC 0%, #CFDEF3 100%);
}

.tabela .direita {
    text-align: right;
}

.tabela .esquerda {
    padding: 0px 60px;
    text-align: left;
}

th {
    background-color: #dfdddd;
    font-size: 20px;
}

.tabela h2 {
    position: fixed;
    width: 180px;
    height: 26px;
    top: 160px;
    left: 50;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding: 20px;
}

.menu {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.conteudo {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#data-table {
    overflow-y: auto;
    height: 700px;
}

#data-table2 {
    overflow-y: auto;
    height: 650px;
    width: 100%;
}

#data-table3 {
    overflow-y: auto;
    height: 650px;
    width: 100%;
}

.tabela-indicadores {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-indicadores th, .tabela-indicadores td {
    border: 1px solid #ddd;
    padding: 8px;
}

.tabela-indicadores th {
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
}

.tabela-indicadores td {
    text-align: center;
}

.user-info {
    display: none; 
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    position: absolute;
    top: 15%;
    left: 1640px;
    width: auto;
}

.delete-user {
    color: rgb(0, 0, 0);
    padding: 1px 4px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1px;
  }
  
  .delete-user:hover {
    background-color: red;
  }
